/* bootstrap */

body {
    position: relative;
}

/* sidebar */

ul.nav-pills {
    position: sticky;
    position: -webkit-sticky;
    z-index: 9999 !important;
    top: 20px;
    width: 80%;
    /* color: white; */
    /* border: 1px solid black;
    background: white; */
}

li.nav-item {
    padding: 0px !important;
    margin: 0 !important;
    /* color: white; */
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: black;
}

.nav-pills .nav-link {
    border-radius: 0;
    /* color: white; */
}

/* main content */

div.col-8 div {
    padding: 40px;
    margin-left: -70px;
}

div.col-8 h1 {
    padding-bottom: 10px;
    border-bottom: 1px dashed #CBD7EF;
    color: #414E68;
}

/* overview */

#overview {
    background: white;
    border-bottom: 2px solid #414E68;
}

.summary {
    display: flex;
    padding: 40px;
    gap: 40px;
}

.part1 {
    width: 60%;
}

.part2 {
    width: 40%;
    align-self: center;
}

.view {
    border: 1px solid #ffffff;
    background-color: #000000;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    font-family: 'Roboto Mono', monospace;
    border-radius: 20px;
    margin: 10px 6px;
    transition-duration: 0.3s;
  }

.view:hover {
    background-color: #FFFCC9;
    color: #000000;
    border: 1px solid #ffffff;
    cursor: pointer;
}

/* solution intro */

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section:nth-child(odd) {
    flex-direction: row-reverse;
    gap: 100px;
}

section div.text {
    padding: 40px;
    align-self: center;
    width: 40%;
    margin: 0px 0px 40px 40px;
    border: 1px solid #414E68;
    box-shadow: 10px 10px #414E68;
}

#insights {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin: 0px 0px 40px 20px;
}

.takeaways, .takeaways2 {
    width: 40%;
    margin: 0px 0px 40px 20px;
    border: 1px solid #414E68;
    box-shadow: 10px 10px #414E68;
}

.takeaways {
    margin-top: -50px;
}
.takeaways2 {
    margin-top: -130px !important;
}

.gifs {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.process {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

.process-1 {
    background: #CBD7EF;
    padding: 20px;
}

.process-2 {
    background: #60739A;
    padding: 20px;
    color: white;
}

.process-3 {
    background: #414E68;
    padding: 20px;
    color: white;
}

.process-1 h3 {
    color: black !important;
}

.process-2 h3, .process-3 h3 {
    color: white !important;
}

/* research */

#research {
    background: white;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #414E68;
}

.objectives {
    border: 1px solid #414E68;
    padding: 10px;
    box-shadow: 10px 10px #414E68;
    width: 75%;
    margin-left: auto;
    margin-right: auto;}

html {
    scroll-behavior: smooth;
}

/* design */

#design {
    background: white;
    margin-top: 20px;
    border-bottom: 2px solid #414E68;
}

/* testing */
#testing {
    background: white;
    margin-top: 20px;
    border-radius: 25px;
    border-bottom: 2px solid #414E68;
}

/* prototype */

#prototype {
    background: white;
    margin-top: 20px;
    border-bottom: 2px solid #414E68;
}

iframe {
    border-radius: 25px;
    border: 1px solid #eee;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* conclusion */

#conclusion {
    background: white;
    border-radius: 25px;
    margin-top: 20px;
    border-bottom: 2px solid #414E68;
    margin-bottom: 20px;
}

.conclusion-grid {
    gap: 40px;
    margin-top: 40px;
    display: grid;
    grid-template-areas:
    "conclusion-1 conclusion-1-text"
    "conclusion-2 conclusion-2-text"
    "conclusion-3 conclusion-3-text";
}

.conclusion-1 {
    grid-area: conclusion-1;
}

.conclusion-2 {
    grid-area: conclusion-2;
}

.conclusion-3 {
    grid-area: conclusion-3;
}

.conclusion-1-text {
    grid-area: conclusion-1-text;
}

.conclusion-2-text {
    grid-area: conclusion-2-text;
}

.conclusion-3-text {
    grid-area: conclusion-3-text;
}

/* Font styles */

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 11px;
    line-height: 22px;
    font-weight: 200;
    margin: 0 auto;
    background: #FFFCF8;
}

h1 {
    font-family: freight-big-pro, serif;
    font-size: 36px;
    line-height: 40px;
    font-weight: 300;
    font-style: normal;
}

.subHeading {
    border-bottom: 1px solid black;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: freight-big-pro, serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 200;
}

h3 {
    font-family: freight-big-pro, serif;
    font-size: 22px;
    font-weight: 200;
    font-style: normal;
    color: #60739A;
}

.col-8 p {
    font-family: Helvetica Neue Regular, sans-serif;
    font-size: 14px;
}

.highlight{
    display: inline;
    color: black;
    /* width: max-content; */
    background-size: 200% auto; 
    background-image: linear-gradient(to right,#fff 50%,#FCF4D2 50%);
    background-position: 0% 0;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.highlight.active{
   animation-name: highlight;
}

@keyframes highlight {
    from {background-position: 0% 0;}
    to {background-position: -100% 0;}
}

/* Navigation */

#navBar {
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    height: calc(25vh - 50px);
}

#navBar img {
    width: 200px;
    height: 200px;
    position: relative;
    top: -40px;
}

#navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

#navigation p {
    margin: 0px 10px 0px 50px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    transition: ease 0.3s;
}

#navigation a {
    color: black;
    text-decoration: none;
}

#navigation p:hover {
    cursor: pointer;
    background: #FFFCC9;
}

#mydiv {
    position: fixed;
    right: 0px;
    z-index: 1;
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
    width: 200px;
    display: none;
}

#mydivheader {
    padding: 5px;
    cursor: pointer;
    background: #000000;
    color: #fff;
    text-align: center;
}

#mydivheader:hover {
    background: #FFFCC9;
    color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 15px;
  transition: ease 0.3s;
  padding: 0 20px;

}

li a {
    color: black;
    text-decoration: none;
}

li a:hover {
    background: #FFFCC9;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#dropDown {
  display: none;
}

/* jumbotron */

.jumbotron {
    background-image: url("../images/header.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -110px;
    border-bottom: 1px solid #F9F4EE;
}

.jumbotron-fluid {
    background-color: transparent;
}

.jumbotron h1 {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15% auto;
    background: rgba(35, 38, 68, 0.8);
    color: white;
    width: 50%;
    border-radius: 50%;
    padding: 50px;
    line-height: 40px;
}

/* slideshow */

.mySlides {
    display: none;
}

.w3-content {
    max-width: 1000px;
    position: relative;
    margin: 0px auto !important;
}

/* footer */

.footer {
    display: grid !important;
    position: relative !important;
    height: 150px;
    padding: 20px;
    margin: 0 auto;
    background-color: black;
    justify-content: center;
    grid-template-areas:
    "connect buttons"
    "copyright copyright";
}

.connect {
    color: #ffffff;
    grid-area: connect;
    align-self: center;
}

.buttons {
    grid-area: buttons;
    align-self: center;
}

.copyright {
    align-self: end;
    justify-self: center;
    grid-area: copyright;
    color: #ffffff;
}

.footerButton {
    border: 1px solid #ffffff;
    background-color: #000000;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    font-family: 'Roboto Mono', monospace;
    border-radius: 20px;
    margin: 10px 6px;
    transition-duration: 0.3s;
  }

.footerButton:hover {
    background-color: #FFFCC9;
    color: #000000;
    border: 1px solid #ffffff;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
.display-4, h1 {
    font-size: 24px;
    line-height: 24px;
}

#navBar {
    align-items: center;
}

#navBar img {
    width: 200px;
    height: 200px;
    position: relative;
    top: 0;
    left: 50%;
}

#navigation p {
    display: none;
}

#mydiv {
    display: block;
    bottom: 10px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    width: 50%;
    border: 1px solid white;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text1 {
    width: 100%;
    text-align: center;
    padding: 0px;
}

.text2 {
    width: 100%;
    text-align: center;
    padding: 0px;
}

.slottt-machine-recipe {
    width: 85%;
}
  
.slottt-machine-recipe__mask {
    width: 100%;
    height: 50px;
}
  
.slottt-machine-recipe__items_container {
    position: absolute;
}
  
.slottt-machine-recipe__item {
    width: 85%;
    margin: 0 auto;
}

.recipe_if, .recipe_then {
    font-size: 14px;
}

#projectsText {
    margin-left: 20px;
    z-index: 2;
    padding: 10px;
    font-size: 14px;
}

header, #project1, #project2, #project3 {
    position: relative;
}

#project1, #project2, #project3 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0px auto 20px auto;
}

section div {
    width: 80vw;
}

section div.text {
    padding: 30px;
}

section div.full-image {
    display: block;
    width: 100vw;
    height: 80vh;
}

.footer {
    height: 25%;
    grid-template-areas:
    "connect"
    "buttons"
    "copyright";
}

}